@use "@mio-graphics/miolook/src/css/colour" as color;
@use "@mio-graphics/miolook/src/css/units" as units;


$unit: units.$unit;


#vio-loginPage {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: color.$col-1-dark;
    color: white;
    h1 {
        font-weight: bold;
        font-size: 2em;
        margin-bottom: $unit + px;
    }
    .inner{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        margin-bottom: $unit + px;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            margin: calc($unit/2) + px 0;
            min-width: 250px;
        }
        input:not([type="submit"]) {
            padding: calc($unit/2) + px;
        }
    }
    .message {
        text-align: center;
        max-width: 600px;
    }
    p {
        max-width: 600px;
        margin:$unit+px 0;
        line-height: 1.5em;
        text-align: center;
    }
    strong {
        font-weight: bold;
    }
}
